@import "../theme";

.header {
  &.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5em;
    background-color: $accentDark;
  }

  &.title {
    font-weight: bold;
    color: $background;
    text-align: center;
    user-select: none;
  }

  &.titlelarge {
    font-weight: bold;
    font-size: 150%;
    color: $background;
  }

  &.button-container {
    display: flex;
    justify-content: center;
    margin-left: 1em;
    margin-right: 1em;
  }

  &.disabled-button {
    cursor: default;
    &:hover {
      transform: none;
    }
  }
}
