@import "../theme";

.header {
  &.container {
    display: flex;
    justify-content: space-between; /* Align buttons to the left and right */
    align-items: center; /* Center the title vertically */
  }

  &.title {
    font-weight: bold;
    color: $background;
    text-align: center; /* Center the title horizontally */
  }
}
