@import "../theme";

.header {
  &.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    background-color: $accentDark;
    padding-left: 2em;
    padding-right: 2em;
  }

  &.title {
    position: absolute;
    flex: 0;
    font-weight: bold;
    color: $background;
    text-align: center;
    user-select: none;
    flex-grow: 1;
    padding: 0 1em;
    white-space: nowrap;
  }

  &.titlelarge {
    font-weight: bold;
    font-size: 150%;
    color: $background;
  }

  &.left {
    flex: 1 1 50%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &.right {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
