@import "../theme";
.teams-overview {
  &.container {
    margin-top: 2em;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  &.label {
    color: $background;
    margin-bottom: 10px;
    text-transform: lowercase;
    font-weight: 300;
  }

  &.button-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
  }

  &.header {
    text-align: center;
    margin-bottom: -0.75em;
  }

  &.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 2em;
    justify-items: stretch;
    width: 100%;

    .team {
      min-height: 100px;
      height: auto;
      width: auto;
      padding: 10px 0;
      font-size: 100%;
      overflow-wrap: break-word;
      word-wrap: break-word;
      /* my custom tooltip */
      position: relative;
      display: inline-block;

      /* Tooltip text */
      .tooltiptext {
        visibility: hidden;
        max-height: 300px; // 3 times button height
        max-width: 300px; // 2 times button width
        overflow: hidden;
        text-overflow: ellipsis;
        background-color: $background;
        color: $accent;
        text-align: center;
        padding: 5px 10px;
        border-radius: $borderRadius;

        /* Position the tooltip text */
        position: absolute;
        bottom: 110%; // Adjusted for vertical centering
        left: 50%;
        transform: translateX(-50%);
        z-index: 10000;

        /* Fade in tooltip */
        opacity: 0;
        transition: opacity 0.3s;

        /* Tooltip arrow */
        &::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: $background transparent transparent transparent;
        }
      }

      /* Show the tooltip text when you mouse over the tooltip container */
      &:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
      }

      &.green-button {
        &:hover {
          transform: translateY(-4px);
        }
        &:disabled {
          cursor: default;
          opacity: 0.4;
          &:hover {
            transform: none;
          }
        }
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        border-radius: $borderRadius;
        cursor: pointer;
        opacity: 1;
        color: $background;
        background-color: $paletteGreen;
        transition: all 0.3s ease;
        border: 2px solid $background;
        box-shadow: 2px 2px $background;
      }
    }

    .create {
      min-height: 100px;
      height: auto;
      width: auto;
      padding: 10px 0;
      font-size: 100%;
      border: none;
      color: $background;
      background-color: $paletteGreen;
    }
  }
}
