@import "../theme";

.teams-overview {
  &.container {
    margin-top: 2em;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  &.label {
    color: $background;
    margin-bottom: 10px;
    text-transform: lowercase;
    font-weight: 300;
  }

  &.button-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
  }

  &.header {
    text-align: center;
    margin-bottom: -0.75em;
  }
  &.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 2em;
    justify-items: stretch;
    width: 100%;

    .team {
      min-height: 100px;
      height: auto;
      width: auto;
      padding: 10px 0;
      font-size: 100%;
      overflow-wrap: break-word;
      word-wrap: break-word;

      &.green-button {
        &:hover {
          transform: translateY(-4px);
        }
        &:disabled {
          cursor: default;
          opacity: 0.4;
          &:hover {
            transform: none;
          }
        }
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        border-radius: $borderRadius;
        cursor: pointer;
        opacity: 1;
        color: $background;
        background-color: $paletteGreen;
        transition: all 0.3s ease;
        border: 2px solid $background;
        box-shadow: 2px 2px $background;
      }
      &:hover::after {
        content: attr(data-tooltip);
        z-index: 1000;
        position: absolute;
        top: 120%;
        left: 50%;
        transform: translateX(-50%);
        padding: 8px;
        border-radius: 4px;
        background-color: $background;
        color: white;
        font-size: 14px;
        display: block;
        max-width: 300px;
        min-width: 10em;
        white-space: normal;
        word-wrap: anywhere;
        overflow-wrap: break-word;
      }

      &:hover::before {
        position: absolute;
        content: "";
        height: 8px;
        width: 8px;
        background: $background;
        bottom: -1.45em;
        scale: 150%;
        left: 50%;
        transform: translate(-50%) rotate(45deg);
        transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
    }

    .create {
      min-height: 100px;
      height: auto;
      width: auto;
      padding: 10px 0;
      font-size: 100%;
      border: none;
      color: $background;
      background-color: $paletteGreen;
    }
  }
}
