@import "../theme";

.memContainer {
  width: 100%;
  font-size: 30px;
  font-weight: bold;
}

.team-dashboard {
  scrollbar-width: thin;
  &.container {
    margin-top: 2em;
    min-height: 300px;
    @include center;
    flex-direction: column;
    width: 100%;
  }

  &.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 0.5em;
    justify-items: stretch;
    width: 100%;
    height: 100%;
  }

  &.box {
    display: flex;
    justify-content: flex-start;
    padding: 1em;
    gap: 0.5em;
    align-items: flex-start;
    background-color: $accentDark;
    //border: 1px solid $background;
    height: auto;
    box-shadow: $dropShadow;
    font-size: 1.5rem;
    border-radius: 10px;
    width: 100%;
    max-width: calc(100% - 2em);
    margin: 1em;
    position: relative;
  }

  &.box-session {
    display: flex;
    justify-content: flex-start;
    padding: 1em;
    align-items: flex-start;
    background-color: $accentDark;
    border: 1px solid $background;
    font-size: 1.5rem;
    border-radius: 10px;
  }

  &.settingsBox {
    display: flex;
    width: 100%;
  }

  &.statusBox {
    width: 100%;
  }

  &.description {
    overflow-wrap: break-word;
    word-wrap: break-word;
    position: absolute;
    top: 80px; /* Position the description below the button */
    left: 0;
    right: 2px;
    bottom: 10px;
    overflow: auto;
    margin: 0;
    padding-left: 1em;
    padding-right: 0.4em; /* Adjust padding as needed */
    box-sizing: border-box;
  }

  &.settingsButton {
    position: relative;
    font-size: medium;
    height: 50px;
    width: 100%;
  }
}

.timeInput {
  border-radius: $borderRadius;
  background-color: $accent;
  color: $background;
}
