@import "../theme";

.teams-overview {
  &.container {
    margin-top: 2em;
    min-height: 300px;
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: column;
    width: 100%;
  }

  &.label {
    color: $background;
    margin-bottom: 10px;
    text-transform: lowercase;
    font-weight: 300;
  }

  &.button-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
  }

  &.grid {
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(150px, 1fr)
    ); // Adjust the minimum width as needed
    grid-gap: 2em;
    justify-items: stretch; // Stretch items to fill the width
    width: 100%;
  }
}
