@import "../theme";

.createTeam {
  z-index: 1000;
  &.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $borderRadius;
  }

  &.content {
    background-color: $accentDark;
    padding: 20px;
    border-radius: 8px;
    box-shadow: $dropShadow;
  }

  &.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &.label {
    color: $background;
    margin-bottom: 10px;
    text-transform: lowercase;
    font-weight: 300;
  }

  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &.headline {
    margin-top: 10px;
    margin-bottom: 0;
  }

  &.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
