@import "../theme";

.inspectTask {
  z-index: 1000;

  &.error {
    color: red;
    margin-bottom: 1em;
    font-size: 10px;
    padding-left: 18em;
  }

  &.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $borderRadius;
    max-height: 40vh;
  }

  &.content {
    background-color: $accentDark;
    padding: 20px;
    border-radius: 8px;
    box-shadow: $dropShadow;
    scale: 90%;
  }

  &.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &.label {
    color: $background;
    margin-bottom: 10px;
    text-transform: lowercase;
    font-weight: 300;
  }

  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &.input {
    height: 35px;
    padding-left: 15px;
    margin-left: -4px;
    border: none;
    border-radius: 0.75em;
    margin-bottom: 10px;
    background: transparentize(white, 0.85);
    color: $background;
  }

  &.headline {
    margin-top: 10px;
    margin-bottom: 0;
  }

  &.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.edit {
    margin-left: auto;
  }
}

.bts {
  font-size: medium;
  min-width: 6em;
}




