@import "../theme";

.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10000;
  display: flex;
  align-items: center;
  background-color: $accent;
  border-radius: 5px;
  padding: 10px;
  transition: opacity 0.3s;
  border: 2px solid $background;
  box-shadow: 4px 4px $background;

  .notification-icon {
    margin-right: 10px;
  }

  .close-btn, .link-btn {
    margin-left: auto;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    &:hover {
      background-color: #0056b3;
    }
  }
}

.success {
  scale: 200%;
  color: green;
}
.error {
  scale: 200%;
  color: red;
}
.lock {
  scale: 200%;
  color: yellow;
}
