@import "../theme";

.comContainer {
    border: 1px solid #e0e0e0;
    border-radius: $borderRadius;
    margin: 5px;
    padding: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 310px;
  }
  
  .comAuthor {
    font-size: 22px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 2px;
  }
  
  .comText {
    font-size: 20px;
    color: #666666;
    line-height: 1.6;
  }