@import "../theme";

.input {
  height: 35px;
  padding-left: 15px;
  border: none;
  border-radius: $borderRadius;
  margin-bottom: 10px;
  background: transparentize(white, 0.85);
  color: $background;
}

.section {
  max-height: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.wrapper {
  border-radius: $borderRadius;
  padding: 10px;
  margin-top: -1em;
}

.in-line {
  margin-top: -1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submit {
  margin-bottom: 10px;
}

.delete-text {
  color: red;
}
