@import "../theme";

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  &.label {
    font-size: 1.2em;
    margin-bottom: 5px;
  }

  .form-field-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  input {
    padding: 10px;
    font-size: 1.2em;
    border: 0; //switch to 1px solid #ccc;
    border-radius: $borderRadius;
    background: #b0e2f5; //switch to $accent
    min-width: 15em;

    &:focus {
      outline: none;
      border-color: #6c63ff;
    }
  }

  textarea {
    padding: 10px;
    font-size: 1.2em;
    border: 0; //switch to 1px solid #ccc;
    border-radius: $borderRadius;
    background: #b0e2f5; //switch to $accent
    min-height: 12em;
    resize: none;
    color: black;

    &:focus {
      outline: none;
      border-color: #6c63ff;
    }
  }

  .error-message {
    color: red;
    margin-top: 5px;
  }
}
