@import "../theme";

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  &:hover {
    transform: translateY(-1px);
  }
  &:focus {
    outline: none;
  }
}

.red-icon {
  color: red;
}

.green-icon {
  color: green;
}
