@import "../theme";

.icon-button {
    background: none;
    border: none;
    padding: 0;
    color: inherit;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &:hover,
    &:focus {
      outline: none;
    }
  }