@import "../theme";

.board {
  margin: 0.1em;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
}

.cols {
  align-items: center;
  width: 100%;
  display: flex;
  gap: 15px;
}
