.board {
  margin: auto;
  display: flex;
  width: auto;
  align-items: center;
}

.cols {
  display: flex;
  gap: 15px;
}

.col {
  background-color: aqua;
  width: 250px;
  height: 400px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
