@import "../theme";

.taskContainer {
  //border: 1px solid black;
  border-radius: 7px;
  margin: 5px;
  background-color: $accentDark;
  //cursor: grab;

  &:hover {
    //transform: translateY(-2px);
  }
}

.taskTitle {
  display: inline-block;
}

.goRight {
  float: right;
}

.goLeft {
  float: left;
}
