@import "../theme";

.taskContainer {
  //border: 1px solid black;
  position: relative;
  border-radius: 7px;
  margin: 5px;
  background-color: $accentDark;
  width: 100%;
  align-items: center;
  box-shadow: $dropShadow;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-2px);
  }
}

.taskTitle {
  display: inline-block;
  color: #262631;
  text-decoration: none;
  margin-left: 5px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  width: calc(100% - 33px);
  cursor: grab;
}

.inspectButton {
  position: absolute;
  width: 35px;
  height: 100%;
  align-items: center;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: linear-gradient(
    to left,
    rgba(205, 236, 249, 1) 10%,
    rgba(205, 236, 249, 0)
  );
  color: black;
  right: 0;
}

.inspectIcon {
  scale: 1.25;
  margin-right: -8px;
}
